<a href="/">Home</a>
<div>
  {{#each artistInfo}}
    <img src="{{this.image.url}}" alt="artist image" />
    <div>
      <h2>{{this.name}}</h2>
      <a href="/albums/{{this.id}}"><button>View Albums</button></a>
    </div>
  {{/each}}
</div>