<style>
body {
  min-height: 100vh;
  background-image: url('images/spotify-background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}
</style>

<form action="/artist-search", method="GET">
  <input type="text" name="artist"/>
  <br/>
  <button>Search for an Artist</button>
  </form>